<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (your existing head content) ... -->
</head>
<body>
<header>
    <h1>Welcome to the Drink Detector</h1>
    <p>Discover Your Inner Drink Hero or Zero!</p>
</header>

<!-- Form container -->
<div class="form-container">
    <!-- ... (your existing form content) ... -->
</div>

<footer>
    <a href="https://github.com/codedestructed007" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/satyamsharma61541425b/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://medium.com/@codexistslonglastingnotfog/django-rest-framework-a-step-by-step-guide-with-code-examples-efe9665b59d8" target="_blank"><i class="fab fa-medium"></i></a>
</footer>

<div class="buttons-container">
    <div class="button-box">
        <a href="/documentation"
        <button>Documentation</button>
    </div>

    <div class="button-box">
        <button><a href="path/to/your/file.pdf" download>Download PDF</a></button>
    </div>
</div>

</body>
</html>
